.head {
    margin-bottom: 20px;
    text-align: center;
    font-family: system-ui, BlinkMacSystemFont;
}

h1 { 
    Font-size: 50px;
    /* margin-bottom: -20px; */
}

/* ,  -apple-system, Avenir Next, Avenir, Segoe UI, Lucida Grande, Helvetica Neue, Helvetica, Fira Sans, Roboto, Noto, Droid Sans, Cantarell, Oxygen, Ubuntu, Franklin Gothic Medium, Century Gothic, Liberation Sans, sans-serif; */

.sideBar-V{
width: 350px;
background-color: yellow;
text-align: center;
padding: 5px;
}

.profile-pic{
    display: inline-block;
    padding: 8px;
    margin: auto;
    border-radius: 50%;
    background: linear-gradient(130deg, #ebf92a, #e66767);
    background-size: 200% 200%;
    animation: animated-gradient 2s linear infinite;
}

@keyframes animated-gradient{
    25%{
        background-position: left bottom;
    }
    50%{
        background-position: right bottom;
    }
    75%{
        background-position: right top;
    }
    100%{
        background-position: left top;
    }

}

.profile-pic img{
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}



.sm a{
    color:#000000;
    width:56px;
    font-size: 25px;
    transition: .3s linear;
}

.sm a:hover{
    color: #e66767;
}


.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
  }
  
.box {
    border: 5px solid red;
    width: 200px;
    height: 200px;
    background-color:#e66767 ;
    margin: 10px;
    border-radius: 35px;

  }

.bbox {
    border: 5px solid red;
    width: 400px;
    height: 200px;
    background-color:#e66767 ;
    margin: 10px;
    border-radius: 35px;

}

.wbox {
    border: 5px solid red;
    width: 630px;
    height: 200px;
    background-color:#e66767 ;
    margin: 10px;
    border-radius: 35px;

}

@media (width <= 675px) {
    /* … */
.box {
    width: 400px;
}
.wbox {
    width: 400px;
}

  }