.head {
    margin-bottom: 20px;
    text-align: center;
    font-family: system-ui, BlinkMacSystemFont;
}

h1:first-child{
    margin-bottom: -65px;
    font-size: 50px;
}

#dynamic-text { 
    Font-size: 85px;
}

 /* h3 {
    padding: 15px;
    width: 50%
    
}  */

/* #me {
    width: 350px;
    float:left;
} */

/* ,  -apple-system, Avenir Next, Avenir, Segoe UI, Lucida Grande, Helvetica Neue, Helvetica, Fira Sans, Roboto, Noto, Droid Sans, Cantarell, Oxygen, Ubuntu, Franklin Gothic Medium, Century Gothic, Liberation Sans, sans-serif; */

.bio {
    margin: 25px;
}

.sideBar-V{
width: 350px;
background-color: yellow;
text-align: center;
padding: 5px;
}



.sm i{
    color:#000000;
    width:56px;
    font-size: 25px;
    transition: .3s linear;
}

.sm i:hover{
    color: #e66767;
}


.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
  }
  
.box {
    border: 5px solid red;
    width: 200px;
    height: 200px;
    background-color:#e66767 ;
    margin: 10px;
    border-radius: 35px;

  }

.bbox {
    border: 5px solid red;
    width: 400px;
    height: 200px;
    background-color:#e66767 ;
    margin: 10px;
    border-radius: 35px;

}

.wbox {
    border: 5px solid red;
    width: 630px;
    height: 200px;
    background-color:#e66767 ;
    margin: 10px;
    border-radius: 35px;
}

.wbox .clickabilty {
    position: absolute;
    width: 630px;
    height: 200px;
    z-index: 50;
}

#fd {
    background-image: url("/images/FD-W.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: pink;
}



/* .wbox img{
    width: 100%;
    height: 100%; 
    border-radius: 35px;
} */


@media (width <= 675px) {
    /* … */
.box {
    width: 400px;
}
.wbox {
    width: 400px;
}

#fd {
background-image: url("/images/FD-S.png");
background-size: cover;
}
  }