.sideBar-V{
width: 350px;
background-color: yellow;
text-align: center;
padding: 5px;
}

.profile-pic{
    display: inline-block;
    padding: 8px;
    margin: auto;
    border-radius: 50%;
    background: linear-gradient(130deg, #ebf92a, #e66767);
    background-size: 200% 200%;
    animation: animated-gradient 2s linear infinite;
}

@keyframes animated-gradient{
    25%{
        background-position: left bottom;
    }
    50%{
        background-position: right bottom;
    }
    75%{
        background-position: right top;
    }
    100%{
        background-position: left top;
    }

}

.profile-pic img{
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}



.sm a{
    color:#000000;
    width:56px;
    font-size: 25px;
    transition: .3s linear;
}

.sm a:hover{
    color: #e66767;
}


.container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .box {
    /* For the first row */
    width: 75%; /* 3/4 of the row */
   background-color:#e66767 ;
   padding: 20px;

  }
  
  .box:nth-child(2) {
    /* For the first row, second box */
    width: 25%; /* 1/4 of the row */
  }
  
  /* For the second row */
  .box:nth-child(3),
  .box:nth-child(4) {
    width: 50%; /* 50% of the row */
  }
  
  /* For the third row */
  .box:nth-child(5) {
    width: 100%; /* 100% of the row */
  }